.box {
  float: left;
  width: 400px;
}
.box img {
  width: 100%;
}

canvas {
  float: left;
  width: 400px;
}

h3 {
  margin-bottom: 0;
  padding: 0;
}

.selection {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}

.selection:after {
  display: table;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
.selection li {
  float: left;
  font-size: 16px;
  list-style: none;
}
.selection li button {
  outline: none;
  border: none;
  box-shadow: none;
  padding: 5px 40px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}